// Define variables for your color scheme
// For example:
$red: #FD1015;
$blue: #8f9295;
$yellow: #FFC65A;
$orange: #E67E22;
$green: #1EDD88;
$gray: #0E0000;
$light-gray: #dbdbdaa1;
$secondary: #f3e671;
$primary: #8f9295;

