<h2>
  <%= pet_nanny.user.name %>
</h2>
<p>
  <%= pet_nanny.user.address %>
</p>

<p>
  $<%= pet_nanny.rate_cents / 100 %>.00 / per day
</p>
<p>
  <%= link_to pet_nanny do %>
    see details
  <% end %>  
</p>
