<!DOCTYPE html>
<html>
<head>
  <title>Nanny Dashboard</title>
</head>
<body>
<h1>Dashboard</h1>
  <div>
    <h2>Profile Info</h2>
  </div>
  <div>
    <h2>Requests</h2>
    <div>
      <h3>Pending</h3>
    </div>
    <div>
      <h3>Completed</h3>
    </div>
  </div>
  <div>

  </div>
</body>
</html>
