<h1>Find a Nanny</h1>
    <div class="container">
      <div class="cards">
        <% @pet_nannies.each do |nanny| %>
          <%= link_to nanny  do %>
            <div class="card">
              <%= nanny.user.name %>
            </div>
          <% end %>
        <% end %>
      </div>
      <div class="add-pet">
      <%= link_to "Add a new pet", new_pet_path, class: "nav-link", class: "button" %>
      </div>
    </div>
