<h1>Find a Nanny</h1>
  <div class="container">
    <div class="cards">
      <% @pet_nannies.each do |nanny| %>
        <%= link_to nanny  do %>
          <div class="card">
            <%= nanny.user.name %>
          </div>
        <% end %>
      <% end %>
    </div>
  </div>

<div id="map"
    style="width: 100%; height: 600px;"
    data-markers="<%= @markers.to_json %>"
    data-mapbox-api-key="<%= ENV['pk.eyJ1IjoibW9tbzkyIiwiYSI6ImNrb2VpMGo3ODBhbHIyd3A1YWZuN25wdzcifQ.MKAgjPuWD2U1HmCyHydg9A
'] %>">     
</div>