.pet-card {
    width: 550px;
    border-radius: 50px;
    background-color: white;
    padding: 50px;
    box-shadow: 0 0 15px rgba(0,0,0,0.2);
    margin-bottom: 25px;
  }
  .pet-card-avatar {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    object-fit: cover;
  }
  .pet-name {
    font-weight: bold;
    font-size: 40px;
  }
  .pet-info-section {
    margin-top: 25px;
    margin-bottom: 25px;
  }
  .bold {
    font-weight: bold;
    font-size: 20px;
  }
  .emoji {
    font-size: 40px;
    padding-right: 15px;
  }
