<%= render "partials/banner", header: "Fuck Yo Pets, Take A Holiday"%>

<h1>Animals that'll pay your utility bills!</h1>
    <div class="container">
      <div class="cards">
        <% @pets.each do |pet| %>
        <div class="card">
          <%= pet.name %>
        </div>
        <% end %>
      </div>
    </div>
