<h1>Animals that'll pay your utility bills!</h1>
    <div class="container">
      <div class="cards">
        <% @pets.each do |pet| %>

        <% if pet.photo.attached?  %>
          <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('<%= cl_image_path pet.photo.key, height: 300, crop: :fill %>')">
            <%= pet.name %>
          </div>
        <% else %>
          <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('https://www.austinpetsalive.org/assets/placeholder/dog-placeholder.svg')">
            <%= pet.name %>
          </div>
        <% end %>


        <% end %>
      </div>
    </div>
