<div class="card" style="width: 18rem;">
  <img src="..." class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">Nanny</h5>
    <p class="card-text">Hire this stranger to watch your pet!</p>
    <a href="#" class="btn btn-primary">Book em</a>
  </div>
</div>
