<% @title="About Us" %>

<h1 class="about_title">About Us</h1>

<h2>History</h2>
  <p>
    Pet Scape was founded because of the inability for humans to travel freely without having to worry about who will care for their pets. Pet owners have ambitious travel goals just like other humans but unfortunately, they are often faced with the moral dilemma of who will care for their pet while they’re away? This frustration is what gave birth to PetScape! The first market place that connects pet owners with qualified pet loving nannies who can care for their pets while they’re away on travel. 
  </p>
<h2>Who we are</h2>
  <p>
    We are pet lovers (and sometimes human lovers too) who care deeply about the well-being of our pets and want to make sure that they’re being properly taking care of while we’re away on travel. We believe Pet owners shouldn’t have to be restricted to less travel because they bare the responsibility of owning a pet. 
  </p>
<h2>How it works</h2>
  <p>
    Pet Scape is the first market place that connects pet owners with qualified, pet loving nannies who are egar to care for your pet while you’re on travel. Simple log on to the portal, put in your location and pets info, and see all of the qualified pet nannies in your area. Don’t miss out on your honey moon inSantorni (Greece) because you can’t find a nanny to care for your pet. Travelstress free, pet free!
  </p>
  



