<h1 class="about_title">About Us</h1>

<h2>History</h2>
  <p>
    Pet Scape was founded because of the inability for humans to travel freely
    without having to worry about who will care for their pets. Pet owners have
    ambitious travel goals just like other humans but unfortunately,
    they are often faced with the moral dilemma of who will care for their pet
    while they’re away? This frustration is what gave birth to PetScape!
    The first market place that connects pet owners with qualified pet loving
    nannies who can care for their pets while they’re away on travel.
  </p>

<h3>Who we are</h3>
  <p>
    We are pet lovers (and sometimes human lovers too) who care deeply about the
     well-being of our pets and want to make sure that they’re being properly taking
     care of while we’re away on travel. We believe Pet owners shouldn’t have to
     be restricted to less travel because they bare the responsibility of owning a pet.
  </p>
