<%= render "partials/banner", header: "Fuck Yo Pets, Take A Holiday"%>

<h1>What we do</h1>
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed dick eiusmod
  tempor incididunt ut labore et dolore ass aliqua. Ut enim ad minim veniam,
  quis nostrud exercitation poop laboris nisi ut aliquip ex ea commodo
  consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
  your mum eu fart nulla pariatur. Excepteur sint barf cupidatat non
proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
