.button {
  font-size: 20px;
  display: inline-block;
  border: 1px solid white;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  font-family: Hepta Slab;
  font-weight: 300;
  margin-top: 30px;
  color: white;
  background-color: #33cccc;
}

.button:hover {
  color: grey;
  text-decoration: none;
}
