.button {
  font-size: 20px;
  display: inline-block;
  border: 1px solid white;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  font-family: Hepta Slab;
  font-weight: 300;
  margin-top: 30px;
  color: white;
  background-color: $primary;
}

.button:hover {
  color: #faf1e6;
  text-decoration: none;
}

.add-pet {
  display: flex;
  justify-content: center;
}

.two-buttons {
  display: flex;
  justify-content: center;
}
