.card {
  background-size: cover;
  background-position: center;
  height: 150px;
  border-radius: 1px;
  box-shadow: -2px 2px 16px 1px rgba(0,0,0,0.1);
  display: flex;
  align-items: center;
  justify-content: space-around;
  font-size: 22px;
  color: #fdfaf6;
  font-weight: bolder;
  text-shadow: 2px 2px 5px rgba(0,0,0,0.3);
}


.cards {
display: grid;
grid-template-columns: 1fr 1fr 1fr;
grid-gap: 16px;
flex-grow: 1;
}
