.card {
  background-size: cover;
  background-position: center;
  height: 150px;
  border-radius: 5px;
  box-shadow: -2px 2px 16px 1px rgba(0,0,0,0.1);
  display: flex;
  align-items: center;
  justify-content: space-around;
  font-size: 22px;
  color: #fdfaf6;
  font-weight: bolder;
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
  box-shadow: 5px 5px 39px -7px rgba(0,0,0,0.25);
}

.cards {
display: grid;
grid-template-columns: 1fr 1fr;
grid-gap: 16px;
flex-grow: 2 !important;
padding: 16px;
width: 50vw;
}

.card-product {
  overflow: hidden;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  display: flex;
  align-items: center;
}

.card-product img {
  height: 100%;
  width: 120px;
  object-fit: cover;
}

.card-product h2 {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
}

.card-product p {
  font-size: 12px;
  line-height: 1.4;
  opacity: .7;
  margin-bottom: 0;
  margin-top: 8px;
}

.card-product .card-product-infos {
  padding: 16px;
}

.card-nanny-name {
  font-size: 22px;
  font-weight: bolder;
}

.card-nanny-info {
  font-size: 12px;
  font-weight: bold;
  display: none;
}

.flashcard:hover {
  .card-nanny-name {
    display: none;
  }
  .card-nanny-info {
    display: inline;
  }
}

#pet-nanny-card {
  background-color: rgb(255, 255, 255);
  box-shadow: 5px 5px 39px -7px rgba(0, 0, 0, 0.692);
  border-radius: 35px;
  margin-bottom: 40px;
}

#search-bar {
    background-color: #f8f7f4;
    box-shadow: 2px 2px 15px -7px rgba(0, 0, 0, 0.993);
    padding-top: 2px;
    margin-top: 5px;
    margin-bottom: 25px;
    text-align: center;
    border-radius: 50px;
    width: 1200px;
    height: 130px;
    align-content: center;
}

#pet-nanny-book {
  background-color: rgb(255, 255, 255);
  box-shadow: 5px 5px 39px -7px rgba(0, 0, 0, 0.692);
  border-radius: 35px;
  margin-bottom: 40px;
}

#booking-summary {
  background-color: rgb(255, 255, 255);
  box-shadow: 5px 5px 39px -7px rgba(0, 0, 0, 0.692);
  margin-top: 100px;
  border-radius: 35px;
  margin-bottom: 40px;
}

#pay {
  background-color: black;
  border-radius: 10px;
}

#pay:hover {
  background-color: rgb(73, 72, 72);
}
