.author {
  span {
    font-style: normal;
    font-weight: bold;
  }

  small {
    color: $gray-500;
  }
}

#messages {
  background-color: white;
  padding: 0 1rem;
  padding-top: 1rem;
  overflow: scroll;
  max-height: calc(100vh - 66px - 65px - 71px);
}

.chatroom {
  height: calc(100vh - 66px);
  padding: 0 50px;

  h1 {
    padding: 0.5rem 1rem;
    border-bottom: 1px solid $gray-200;
    margin-bottom: 0;
  }
}

.message-container {
  margin-bottom: 15px;
}
