.author {
  span {
    font-style: normal;
    font-weight: bold;
  }

  small {
    color: $gray-500;
  }
}

#messages {
  padding: 0 1rem;
  padding-top: 1rem;
  overflow: scroll;
  max-height: calc(100vh - 66px - 65px - 71px);
  text-align: center;
}

#new_booking_update {
  padding: 1rem;
  border-top: 1px solid $gray-200;

  .form-group {
    margin-bottom: 0;
  }
}

.chatroom {
  background: white;
  height: calc(100vh - 66px);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-grow: 1;

  h1 {
    padding: 0.5rem 1rem;
    border-bottom: 1px solid $gray-200;
    margin-bottom: 0;
  }
}
