.card-white {
  background-color:white;
  border-radius:14px;
}

.img-round {
  border-radius: 50%;
  width: 150px;
  height: 150px;
}

.flex-even {
  flex: 1;
}

.profile-circle {
  border-radius: 50%;
  width: 150px;
  height: 150px;
  object-fit: cover;
}
